# Retrieving College Basketball Data

In this notebook, I retrieve the scores and kenpom data for all teams from 2002 to 2017. The data is saved in csv files so that it can be accessed later by other notebooks.

In [1]:
# Import packages
import sys
sys.path.append('/Users/phil/Documents/Documents/College_Basketball')

import datetime
import pandas as pd
import collegebasketball as cbb
cbb.__version__

'0.2'

## Getting the Scores Data

The scores are from https://www.sports-reference.com/cbb/. Below shows the code I used to download all the scores in college basketball from 2002 to 2017.

For each season, I create two different csv files. One contains the regular season data and the other file contains just the scores from the NCAA tournament. I will later use the Tournment scores to evaluate the performance of the models and seperating the data at this stage will simplify things later on.

In [2]:
# This list contains the starting dates of march madness for each year
march_start_dates = [12, 18, 16, 15, 14, 13, 18, 17, 16, 15, 13, 19, 18, 17, 15, 14, 19]

# The location where the files will be saved
path = '../Data/Scores/'

In [3]:
# We will be creating a csv file for each regular season and tournament from 2002 to 2019
for year in range(2018, 2020):

    # Set up the starting and ending dates of the regular season and march madness
    start_regular = datetime.date(year - 1, 11, 1)
    end_regular = datetime.date(year, 3, march_start_dates[year - 2003] - 1)
    
    start_march = datetime.date(year, 3, march_start_dates[year - 2003])
    end_march = datetime.date(year, 4, 10)
    
    # Set up the path for this years scores
    path_regular = path + str(year) + '_regular_season.csv'
    path_march = path + str(year) + '_march.csv'

    # Create and save the csv files for the regular season and march madness data for the year
    cbb.load_scores_dataframe(start_date=start_regular, end_date=end_regular, csv_file_path=path_regular)
    cbb.load_scores_dataframe(start_date=start_march, end_date=end_march, csv_file_path=path_march)

In [4]:
# Load a dataset to take an initial look
file_path = path + '2003_march.csv'
data = cbb.load_csv(file_path)

data.head()

             Home                      Away  Home_Score  Away_Score
0  Boston College                 Fairfield          90          78
1          DePaul                       UNC          72          83
2  Texas Southern  North Carolina-Asheville          84          92
3       Villanova                     Siena          59          74
4          Drexel                    Temple          59          68

In [5]:
# Let's take a look at all the games involving Marquette during the 2003 Tournament
pd.concat([data[data['Home'] == 'Marquette'], data[data['Away'] == 'Marquette']])

          Home        Away  Home_Score  Away_Score
27   Marquette  Holy Cross          72          68
93   Marquette    Kentucky          83          69
100  Marquette      Kansas          61          94
61    Missouri   Marquette          92         101
85        Pitt   Marquette          74          77

## Getting Basic Team Stats

The teams stats data is also from https://www.sports-reference.com/cbb/. This data contains basic basketball statistics for each team at the end of each season. These stats will later be used to train the model and evaluate teams.

In [ ]:
# The location where the files will be saved
path = '/Users/phil/Documents/Documents/College Basketball/Data/SportsReference/'

# We will be creating a csv file of data for each season from 2002 to 2019
for year in range(2002, 2019):
    
    # Set the path for the current year data
    stats_path = path + str(year) + '_stats.csv'
    
    # Save the kenpom data into a csv file
    cbb.load_stats_dataframe(year=year, csv_file_path=stats_path)

In [ ]:
# Load some data to take a look
stats_path = path + '2003_stats.csv'
data = cbb.load_csv(kp_path)

data.head()

In [ ]:
# Let's take a look at Marquette's kenpom numbers for 2003
data[data['Team'] == 'Marquette']

## Getting the Kenpom Data

The kenpom data is from https://kenpom.com. This website displays advanced stats for each team in the NCAA. These stats will later be used to train the model and evaluate teams.

In [6]:
# The location where the files will be saved
path = '/Users/phil/Documents/Documents/College Basketball/Data/Kenpom/'

# We will be creating a csv file of kenpom data for each season from 2002 to 2019
for year in range(2009, 2019):
    
    # Set the path for the current year data
    kp_path = path + str(year) + '_kenpom.csv'
    
    # Save the kenpom data into a csv file
    cbb.load_kenpom_dataframe(csv_file_path=kp_path, year=year, save_data=True)

In [7]:
# Load some data to take a look
kp_path = path + '2003_kenpom.csv'
data = cbb.load_csv(kp_path)

data.head()

,Rank,Team,Conf,Wins,Losses,AdjEM,AdjO,AdjO Rank,AdjD,AdjD Rank,...,Luck,Luck Rank,OppAdjEM,OppAdjEM Rank,OppO,OppO Rank,OppD,OppD Rank,NCSOS AdjEM,NCSOS AdjEM Rank
0,1,Kentucky,SEC,32,4,29.18,116.5,5,87.4,4,...,0.051,53,11.20,4,108.6,3,97.4,16,6.77,33
1,2,Kansas,B12,30,8,28.62,115.0,12,86.4,3,...,-0.017,208,11.84,2,108.7,2,96.8,9,6.08,35
2,3,Pittsburgh,BE,28,5,28.61,114.8,14,86.2,2,...,-0.023,224,7.07,56,105.5,66,98.4,49,-8.24,310
3,4,Arizona,P10,28,4,26.80,115.6,10,88.8,8,...,-0.007,181,8.69,31,107.2,14,98.5,53,8.19,26
4,5,Illinois,B10,25,7,24.47,113.2,22,88.7,7,...,-0.029,242,7.29,52,105.8,59,98.5,54,-4.18,257

In [8]:
# Let's take a look at Marquette's kenpom numbers for 2003
data[data['Team'] == 'Marquette']

,Rank,Team,Conf,Wins,Losses,AdjEM,AdjO,AdjO Rank,AdjD,AdjD Rank,...,Luck,Luck Rank,OppAdjEM,OppAdjEM Rank,OppO,OppO Rank,OppD,OppD Rank,NCSOS AdjEM,NCSOS AdjEM Rank
14,15,Marquette,CUSA,27,6,21.3,120.5,2,99.2,109,...,0.07,30,7.94,42,106.0,54,98.0,35,-1.46,188

## Getting the T-Rank Data

The T-Rank data is from http://www.barttorvik.com/#. This website displays advanced stats for each team in the NCAA. These stats will later be used to train the model and evaluate teams.

In [ ]:
# The location where the files will be saved
path = '/Users/phil/Documents/Documents/College Basketball/Data/TRank/'

# We will be creating a csv file of data for each season from 2008 to 2019
for year in range(2008, 2019):
    
    # Set the path for the current year data
    TRank_path = path + str(year) + '_TRank.csv'
    
    # Save the kenpom data into a csv file
    cbb.load_TRank_dataframe(year=year, csv_file_path=TRank_path)

In [ ]:
# Load some data to take a look
TRank_path = path + '2008_TRankcsv'
data = cbb.load_csv(kp_path)

data.head()

In [ ]:
# Let's take a look at Marquette's kenpom numbers for 2008
data[data['Team'] == 'Marquette']